<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
<meta charset="utf-8">
<link href='@routes.Assets.at("fonts/font_open_sans.css")' rel='stylesheet' type='text/css'>
    <link href='@routes.Assets.at("fonts/font_condesed.css")' rel='stylesheet' type='text/css'>
    <link href='@routes.Assets.at("fonts/font_raleway.css")' rel='stylesheet' type='text/css'>
    <link href='@routes.Assets.at("js/bootstrap/dist/css/bootstrap.css")' rel="stylesheet" />
    <link rel="stylesheet" href='@routes.Assets.at("fonts/font-awesome-4/css/font-awesome.min.css")'>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/jquery.nanoscroller/nanoscroller.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/bootstrap.slider/css/slider.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/intro.js/introjs.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/bootstrap.switch/bootstrap-switch.min.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/jquery.select2/select2.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/bootstrap.daterangepicker/daterangepicker-bs3.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("css/pygments.css")'>
    <link href='@routes.Assets.at("js/jquery.icheck/skins/square/blue.css")' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/jquery.niftymodals/css/component.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/jquery.easypiechart/jquery.easy-pie-chart.css")' />
    <link href='@routes.Assets.at("css/style.css")' rel="stylesheet" />
</head>
<body>

</body>
</html>